<!DOCTYPE html>
<head>
  <title>Wine pairings</title>
  <style>
    header {
      text-align: right;
      font-family: helvetica;
      margin: 0 auto;
    }
    a {
      color: white;
    }
    li {
      padding: 0px 10px 0px 10px;
    }
    h1 {
    }
    body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    background: url('http://cruwineinvestment.com/wp-content/uploads/2015/03/red-charry-wine-hd-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    min-height: 700px;
    max-width: 600px;
  }
  p {
  font-size: 19px
  }
  article {
  color: white;
  font-size: 21px
  }
  input {
  border: 0;
  padding: 10px;
  font-size: 17px;
  width: 36%;
  }
  input[type="submit"] {
  background: rgba(140, 7, 22, .9);
  color: white;
  width: 17%;
  border: 9px solid rgba(100, 9, 20, .8);
  border-radius: 25px;
  }

  </style>
</head>

<body>
<header>
  <h1><img src="http://media.tumblr.com/1e67e0122bd7e64e3ec6beb457bbca11/tumblr_inline_mo8ak2NRUA1qimd9m.gif"></h1>
</header>
<article>
For
<%= @a_pair.capitalize %>
<%= @b_pair.capitalize %> 
we recomend a nice
<%= @number %>
<form method="get" action = "/">
  <p><input type ="submit" value = "Home" ></p> 
</form>
</article>

</body>

